{
  "semi": true,
  "tabWidth": 2,
  "singleQuote": false,
  "printWidth": 80,
  "trailingComma": "all",
  "endOfLine": "auto",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": false
}
