@import "tailwindcss";

html,
body {
  height: 100%;
}
:root {
}

@theme {
  --color-devcra-primary: #e9a374;

  /* --font-pretendard-std: var(--font-pretendard-std), sans-serif; */
  --font-pretendard-std: var(--font-pretendard-std), sans-serif;
}
